
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 페이지 꽉차게 */
body {
    margin : 0;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title{
    font-family:"Black Han Sans",serif;
    font-weight:400;
    font-size: 72px;
}